<div class="features bottom-pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3  class="title">Nuestros Talleres</h3>
                <div class="row">
                    <div class="circular-nav">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 animate_afl">
                            <div id="cn-tabs">
                                {% for taller in talleres %}
                                    <div class="service service-{{ forloop.counter }}">
                                        <div class="cn-content">
                                            <h4>{{ taller.name }}</h4>
                                            <p>{{ taller.body }}</p>
                                            <a href="{{ taller.url }}">Ver más <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 animate_afr">
                            <div class="cn-wrapper">
                                <ul>
                                    {% for t in talleres %}
                                        {% if forloop.first %}
                                            <li class="circle-{{ forloop.counter }} circle"><a class="active" href="#"> T{{ forloop.counter }}</a></li>
                                        {% else %}
                                            <li class="circle-{{ forloop.counter }} circle"><a href="#"> {{ t.title }} </a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

