 <div class="footer-top">
               <div class="container">
                  <div class="row">
                     <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
                        <h3>Acerca</h3>
                        <p> 
                           {{ self.about_text }}
                            <a href="{{ self.about_page.url }}"> Ver más...</a>
                        </p>
                     </section>
                     <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">

                     </section>
                     <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
                        <h3>Contactanos</h3>
                        <ul class="contact-us">
                           <li>
                              <i class="fa fa-map-marker"></i>
                              <p> 
                                 <strong class="contact-pad">Dirección:</strong> {{ self.address|safe }}
                              </p>
                           </li>
                           <li>
                              <i class="fa fa-phone"></i>
                              <p><strong>Teléfono:</strong> {{ self.phone|safe }}</p>
                           </li>
                           <li>
                              <i class="fa fa-envelope"></i>
                              <p><strong>Email:</strong><a href="mailto:{{ self.email }}">{{ self.email }}</a></p>
                           </li>
                        </ul>
                     </section>
                     <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
                        <h3>Flickr</h3>
                        <ul id="flickrfeed" class="thumbs"></ul>
                     </section>
                  </div>
               </div>
            </div>