<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 "> &copy; Universidad Adventista de Chile.</div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                <ul class="social social-icons-footer-bottom">
                    <li class="facebook"><a href="{{ site_root.facebook }}" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="{{ site_root.twiter }}" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="dribbble"><a href="{{ site_root.instagram }}" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        {% include 'webpage/partials/search_box.html' %}
                </ul>
            </div>
        </div>
    </div>
</div>