<div class="main-content">
    <div class="container">
        <div class="row">
            {% for program in programs %}
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item bottom-pad-small">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"><i class="fa fa-arrows-alt"></i></div>
                                <div class="ch-info-back">
                                    <i class="fa fa-arrows-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>{{ program.name }}</h3>
                            <p>
                                {{ program.description }}
                            </p>
                            <a href="#">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>