<div class="product-lead bottom-pad">
            	<div class="bg-overlay">
                   <div class="container">
                      <div class="row">
                         <div class="col-md-6 col-sm-12 col-xs-12 text-center animate_afl d1">
                            <img src="img/iphone5c.png" alt="iPhone5c">
                         </div>
                         <div class="col-md-6 col-sm-12 col-xs-12 animate_afr d3">
                            <div class="app-service">
                               <h3>Pixma App Services</h3>
                               <h4>We provide all kinds of iPhone application design and development services.</h4>
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet.Lorem fermentum diam diam.  
                               </p>
                               <p>
                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                               </p>
                               <div class="divider"></div>
                               <div class="learnmore">
                                  <a class="btn-special btn-grey" href="#">Learn More</a>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
            	</div>
            </div> 