{% load staticfiles %}
{% load wagtailimages_tags %}
<div class="fullwidthbanner-container">
    <div class="fullwidthbanner rslider">
        <ul>
             <!-- SLIDE DE PRUEBA-->
            
            <!-- PRIMER SLIDE-->
             <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
                <img src="{% static 'webpage/img/slider/IMG_7348.png' %}"  alt="item 1" data-lazyload="{% static 'webpage/img/slider/IMG_7348.png' %}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="caption modern_big_bluebg h1 lft tp-caption start"
                     data-x="40"
                     data-y="20"
                     data-speed="700"
                     data-endspeed="800"
                     data-start="1000"
                     data-easing="easeOutQuint"
                     data-endeasing="easeOutQuint">
                    <h3>Centro de Apoyo Académico al Estudiante</h3>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1400"
                     data-speed="1050"
                     data-y="220"
                     data-x="40">
                    <div class="list-slide">
                        <i class="fa fa-university slide-icon"></i>
                        <h5><span style="background:#575F63"> <b> Facilitando el paso por la Universidad </b></span> </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1800"
                     data-speed="1200"
                     data-y="255"
                     data-x="40">
                    <div class="list-slide">
                        <i class="fa fa-book slide-icon"></i>
                        <h5><span style="background:#575F63"> <b> Estamos trabajando para ti </b></span> </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="2200"
                     data-speed="1350"
                     data-y="290"
                     data-x="40">
                    <div class="list-slide">
                        <i class="fa fa-mail-forward slide-icon"></i>
                        <h5><span style="background:#575F63"> <b> Ponte en contacto con nosotros </b></span> </h5>
                    </div>
                </div>
                <div class="caption lfb caption_button_1 fadeout tp-caption start"
                     data-x="70"
                     data-y="400"
                     data-speed="900"
                     data-endspeed="300"
                     data-start="2700"
                     data-hoffset="-70"
                     data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-grey" href="/historia/">Acerca</a>
                </div>
                <div class="caption lfb caption_button_2 fadeout tp-caption start"
                     data-x="210"
                     data-y="400"
                     data-speed="800"
                     data-endspeed="300"
                     data-start="2900"
                     data-hoffset="70"
                     data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-color" href="/contacto/">Escribenos</a>
                </div>
            </li>
            <!-- SEGUNDO SLIDE -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
                <img src="{% static 'webpage/img/slider/nivo_slider3.jpg' %}"  alt="Pixma" data-lazyload="{% static 'webpage/img/slider/nivo_slider3.jpg' %}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="caption large_text sft"
                     data-x="40"
                     data-y="54"
                     data-speed="300"
                     data-start="800"
                     data-easing="easeOutExpo">Comparte el Otoño</div>
                <div class="caption medium_text sfl"
                     data-x="49"
                     data-y="92"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo">Junto a</div>
                <div class="caption large_text sfr"
                     data-x="118"
                     data-y="88"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo"><span>Nosotros</span></div>
                <div class="caption"
                     data-easing="easeOutExpo"
                     data-start="1400"
                     data-speed="1050"
                     data-y="180"
                     data-x="150">
                    <h5> <span style="background:#FA6900"> Ven y agenda tu hora en: </span> </h5>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1800"
                     data-speed="1200"
                     data-y="220"
                     data-x="150">
                    <div class="list-slide">
                        <i class="fa fa-volume-up slide-icon"></i>
                        <h5> Fonoaudiología </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="2200"
                     data-speed="1350"
                     data-y="260"
                     data-x="150">
                    <div class="list-slide">
                        <i class="fa fa-check slide-icon"></i>
                        <h5> Psicopedagogía </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="2600"
                     data-speed="1350"
                     data-y="300"
                     data-x="150">
                    <div class="list-slide">
                        <i class="fa fa-group slide-icon"></i>
                        <h5> Trabajo Social </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="3000"
                     data-speed="1350"
                     data-y="340"
                     data-x="150">
                    <div class="list-slide">
                        <i class="fa fa-th slide-icon"></i>
                        <h5> Talleres Formativos </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="3400"
                     data-speed="1350"
                     data-y="380"
                     data-x="150">
                    <div class="list-slide">
                        <i class="fa fa-user-md slide-icon"></i>
                        <h5> Psicología </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="3800"
                     data-speed="1350"
                     data-y="420"
                     data-x="150">
                    <div class="list-slide">
                        <i class="fa fa-hand-o-right slide-icon"></i>
                        <h5> Asistencia pastoral </h5>
                    </div>
                </div>
            </li>
            <!-- TERCER SLIDE -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
                <img src="{% static 'webpage/img/img-blur-client2.jpg' %}"  alt="Pixma" data-lazyload="{% static 'webpage/img/img-blur-client2.jpg' %}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="caption large_text sft"
                     data-x="-80"
                     data-y="34"
                     data-speed="300"
                     data-start="800"
                     data-easing="easeOutExpo">Abandono de asignaturas</div>
                <div class="caption medium_text sfl"
                     data-x="-50"
                     data-y="80"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo">1° Semestre 2018</div>
                <div class="caption large_text sft"
                     data-x="120"
                     data-y="68"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo"><span>Ultimo plazo</span></div>                
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1300"
                     data-speed="1350"
                     data-y="140"
                     data-x="20">
                    <div class="list-slide">
                        <i class="fa fa-th slide-icon"></i>
                        <h5> <span style="background:#575F63">Viernes 11 de Mayo, hasta las 13:00 hrs</span> </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="2000"
                     data-speed="2300"
                     data-y="185"
                     data-x="20">
                    <div class="list-slide">
                        <i class="fa fa-university slide-icon"></i>
                        <h5> <h5> <span style="background:#575F63"> Oficina Registros Académicos </span></h5>
                    </div>
                </div>
            </li>
            <!-- THE THIRD SLIDE -->
            
       
       <!-- <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
                <img src="{% static 'webpage/img/slider/IMG_7348.png' %}"  alt="item 1" data-lazyload="{% static 'webpage/img/slider/IMG_7348.png' %}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="caption modern_big_bluebg h1 lft tp-caption start"
                     data-x="40"
                     data-y="20"
                     data-speed="700"
                     data-endspeed="800"
                     data-start="1000"
                     data-easing="easeOutQuint"
                     data-endeasing="easeOutQuint">
                    <h3>Centro de Apoyo Académico al Estudiante</h3>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1400"
                     data-speed="1050"
                     data-y="80"
                     data-x="40">
                    <div class="list-slide">
                        <i class="fa fa-university slide-icon"></i>
                        <h5><span style="background:#575F63"> <b> Facilitando el paso por la Universidad </b></span> </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1800"
                     data-speed="1200"
                     data-y="120"
                     data-x="40">
                    <div class="list-slide">
                        <i class="fa fa-book slide-icon"></i>
                        <h5><span style="background:#575F63"> <b> Estamos trabajando para ti </b></span> </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="2200"
                     data-speed="1350"
                     data-y="160"
                     data-x="40">
                    <div class="list-slide">
                        <i class="fa fa-mail-forward slide-icon"></i>
                        <h5><span style="background:#575F63"> <b> Ponte en contacto con nosotros </b></span> </h5>
                    </div>
                </div>
                <div class="caption lfb caption_button_1 fadeout tp-caption start"
                     data-x="70"
                     data-y="400"
                     data-speed="900"
                     data-endspeed="300"
                     data-start="2700"
                     data-hoffset="-70"
                     data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-grey" href="/historia/">Acerca</a>
                </div>
                <div class="caption lfb caption_button_2 fadeout tp-caption start"
                     data-x="210"
                     data-y="400"
                     data-speed="800"
                     data-endspeed="300"
                     data-start="2900"
                     data-hoffset="70"
                     data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-color" href="/contacto/">Escribenos</a>
                </div>
            </li> -->
             {% for x in slides %}
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
                {% image x.photo original as imagen %}
                <img src="{{ imagen.url }}"  alt="{{ imagen.title }}" data-lazyload="{{ imagen.url }}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
            </li>
            {% endfor %}
        </ul>
    </div>
</div>