{% load staticfiles %}
<div class="fullwidthbanner-container">
    <div class="fullwidthbanner rslider">
        <ul>
            <!-- THE FIRST SLIDE -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
                <img src="{% static 'webpage/img/slider/Item1.png' %}"  alt="item 1" data-lazyload="{% static 'webpage/img/slider/Item1.png' %}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="caption modern_big_bluebg h1 lft tp-caption start"
                     data-x="40"
                     data-y="85"
                     data-speed="700"
                     data-endspeed="800"
                     data-start="1000"
                     data-easing="easeOutQuint"
                     data-endeasing="easeOutQuint">
                    <h3>Centro de Apoyo Académico al Estudiante</h3>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1400"
                     data-speed="1050"
                     data-y="180"
                     data-x="40">
                    <div class="list-slide">
                        <i class="fa fa-university slide-icon"></i>
                        <h5> <b> Facilitando el paso por la Universidad </b> </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1800"
                     data-speed="1200"
                     data-y="220"
                     data-x="40">
                    <div class="list-slide">
                        <i class="fa fa-book slide-icon"></i>
                        <h5> <b> Estamos trabajando para ti </b> </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="2200"
                     data-speed="1350"
                     data-y="260"
                     data-x="40">
                    <div class="list-slide">
                        <i class="fa fa-mail-forward slide-icon"></i>
                        <h5> <b> Ponte en contacto con nosotros </b> </h5>
                    </div>
                </div>
                <div class="caption lfb caption_button_1 fadeout tp-caption start"
                     data-x="40"
                     data-y="330"
                     data-speed="900"
                     data-endspeed="300"
                     data-start="2700"
                     data-hoffset="-70"
                     data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-grey" href="/historia/">Acerca</a>
                </div>
                <div class="caption lfb caption_button_2 fadeout tp-caption start"
                     data-x="210"
                     data-y="330"
                     data-speed="800"
                     data-endspeed="300"
                     data-start="2900"
                     data-hoffset="70"
                     data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-color" href="/contacto/">Escribenos</a>
                </div>
            </li>
            <!-- THE FIRST SLIDE -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
                <img src="{% static 'webpage/img/slider/Item3.png' %}"  alt="Pixma" data-lazyload="{% static 'webpage/img/slider/Item3.png' %}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="caption large_text sft"
                     data-x="660"
                     data-y="54"
                     data-speed="300"
                     data-start="800"
                     data-easing="easeOutExpo">Mejorando los Desempeños</div>
                <div class="caption medium_text sfl"
                     data-x="689"
                     data-y="92"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo">y la</div>
                <div class="caption large_text sfr"
                     data-x="738"
                     data-y="88"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo"><span class="dblue">Progresión Académica</span></div>
                <div class="caption"
                     data-easing="easeOutExpo"
                     data-start="1400"
                     data-speed="1050"
                     data-y="180"
                     data-x="760">
                    <h5> <span style="background:#FA6900"> El CAAE brinda asistencia en: </span> </h5>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1800"
                     data-speed="1200"
                     data-y="220"
                     data-x="760">
                    <div class="list-slide">
                        <i class="fa fa-table slide-icon"></i>
                        <h5> Fonoaudiología </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="2200"
                     data-speed="1350"
                     data-y="260"
                     data-x="760">
                    <div class="list-slide">
                        <i class="fa fa-check slide-icon"></i>
                        <h5> Psicopedagogía </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="2600"
                     data-speed="1350"
                     data-y="300"
                     data-x="760">
                    <div class="list-slide">
                        <i class="fa fa-twitter slide-icon"></i>
                        <h5> Trabajo Social </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="3000"
                     data-speed="1350"
                     data-y="340"
                     data-x="760">
                    <div class="list-slide">
                        <i class="fa fa-th slide-icon"></i>
                        <h5> Talleres Formativos </h5>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>