<div class="slogan bottom-pad-small">
    <div class="container">
        <div class="row">
            <div class="slogan-content">
                <div class="col-lg-9 col-md-9">
                    <h2 class="slogan-title">  Programas de Apoyo al Estudiante </h2>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="get-started">
                        <button class="btn btn-special btn-color pull-right">Ver Todos</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>