{% extends 'webpage/index.html' %}
{% load staticfiles %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}

    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Acerca de Nosotros</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>Tú estás:</li>
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="#">Acerca del CAEE</a></li>
                            <li>{{ self.sub_title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <article>
                        <h3 class="title">{{ self.sub_title }}</h3>
                        <div class="post-content">
                            <div class="img-content">
                                {% image self.photo width-345 %}
                            </div>
                            {% if self.body_personalize %}
                                {{ self.body_personalize|safe }}
                            {% else %}
                                {{ self.body|richtext }}
                            {% endif %}
                        </div>
                    </article>
                </div>
                <!-- Left Section End -->
                <!-- Skill Section Start -->
                <div class="skills col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <h3 class="title">Nuestras Habilidades</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> PSICOLOGÍA</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">FONOAUDILOGÍA</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">PSICOPEDAGOGÍA</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">TRABAJO SOCIAL</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">TALLERES FORMATIVOS</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">ASISTENCIA PASTORAL</div>
                    </div>
                </div>
                <!-- Skill Section Start -->
                <div class="clearfix"></div>
            </div>

        </div>

    </div>
    <!-- Main Content end-->

{% endblock %}