{% extends 'webpage/index.html' %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">{{ self.title }}</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>Tú estás aquí:</li>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Herramientas de Apoyo</a></li>
                            <li>{{ self.title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="divider"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        {% if self.body_text %}
                            {{ self.body_text|safe }}
                        {% else %}
                            {{ self.body|richtext }}
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
{% endblock %}